.Main-PopUpKKart {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: end;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.205);
    .backDrop{
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.144);
        position: absolute;
    }


    .popUp-carrinho {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        color: black;

        z-index: 3;
    
        overflow: hidden;
        width: 25%;
        animation: SlideKart 0.3s linear;
        transition: all 0.3s ease-in-out    ;


        .puc-listaPedidos {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top: 30px;
            margin-bottom: 30px;

            .puc-fantasma1 {

                position: relative;
                bottom: 5px;
                right: 100px;



            }

            .puc-fantasma2 {
                position: relative;
                top: 5px;
                left: 100px;

            }
        }

        .x {

            font-size: 12px;
            position: relative;
            left: 15px;
            top: 15px;



        }

        .x:hover {

            cursor: pointer;


        }



        .puc-Logo {

            display: flex;
            flex-direction: column;
            align-items: center;


            .puc-2000 {

                font-size: 24px;
                margin-top: 5px;
                margin-bottom: 15px;

            }


        }

        .puc-asteriscoCentro {

            display: flex;
            flex-direction: column;
            align-items: center;


        }


        .puc-campos {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 7px;

            margin-bottom: 5px;
        }

        .puc-total {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 10px;
            margin-bottom: 20px;

            .titulo {

                font-size: 14px;


            }

            .valor {
                font-size: 10px;
            }
        }



    }

}

@media (max-width:600px) {
    .Main-PopUpKKart{

        .popUp-carrinho {
            width: 100%;
            top: 0px;
            right: 0px;
            height: 100%;
        }
    }
}

@keyframes SlideKart {
    from {
        transform: translateX(100%);
        height: 100%;
    }

    to {
        transform: translateX(0%);
        height: 100%;
    }
}

@keyframes SlideKartReverse {
    from {
        position: absolute;
        transform: translateX(-100%);
        height: 100%;
    }

    to {
        position: absolute;
        transform: translateX(0%);
        height: 100%;
    }
}