.card-pedido{

    border: 3px solid #081820;
    background: #88C070;

    width: 1219px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    


}

.jogo{

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 40px;

    p{

        margin-left: 25px;

    }

}

.texto{

    display: flex;
    flex-direction: row;
    margin-right: 50px;

    p{

        margin-left: 50px;
        line-height: 20px;
        text-align: center;

    }



}

.comp-card-pedido{

    margin-top: 100px;
    margin-bottom: 300px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.comp-card-pedido p{

    color: #346856;
    font-size: 14px;


}

.bolinha {

    margin-left: 45px;


}

.bolinha p{

    position: relative;
    bottom: 23px;
    left: 12px;

    color:#29A345;


}