.MainTopNavBar {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    background-color: #081820;
    color: aliceblue;

    .Logo {
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
        }



        h1 {
            margin-top: 5px;
        }
    }

    .Perfil {
        display: flex;
        align-items: center;
        width: 250px;
        justify-content: space-between;

        img{
            width: 40px;
            border-radius: 50px;
        }
        .Name_ArrowMenu {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            .ArrowOption{
                position: absolute;
                margin: 15px;
                background-color: rgb(37, 189, 108);
                padding: 15px 25px;
                p{
                    margin: 15px 0;
                }
            }
        }

        #bell {
            width: 17px;
        }
    }
}